/kl25z/Debug/
/kl25z/Generated_Code/
/kl25z/.settings/
/kl25z/Documentation/
/kl25z/*.g_c
/kl25z/*.g_x
/kl25z/ProjectInfo.xml
/kl25z/.cwGeneratedFileSetLog

.metadata/
RemoteSystemsTempFiles/
/kl25z/.metadata/
/kl25z/RemoteSystemsTempFiles/